.about {
    background: linear-gradient(to bottom, rgba(31, 31, 31, 1), #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-header {
    align-self: center;
    color: white;
    font-size: 54px;
    margin: 100px;
}

.about-header::before, .about-header::after{
    border: 1px solid;
    content: "";
    display: block;
    width: 100%;
}

.about-header::before {
    left: -20%;
    position: relative;
}

.about-header::after {
    left: 20%;
    position: relative;
}

.about-container {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 400px;
    margin: 0 50px;
}

.about-imgs {
    display: inline-block;
    height: 90%;
    margin: 50px;
    padding-right: 100px;
}

.about-img-idv {
    border: 1px solid rgba(31, 31, 31, 1);
    box-sizing: content-box;
    /* object-fit: cover; */
    height: 100%;
    max-height: 300px;
    max-width: 200px;
    transition: all .5s ease-in-out;
    width: 49%;
    min-width: 150px;

}

.about-img-idv:hover {
    transform: scale(1.3);
    margin: 30px;
}

.text {
    align-self: center;
    display: inline-block;
    width: 30%;
    min-width: 200px;
}

@media only screen and (max-width: 425px) {
    .about-container {
        flex-direction: column;
        align-content: flex-start;
        height: 150vh;
        flex-wrap: nowrap;
    }
    .about-imgs {
        height: 20%;
        margin: 350px 0;
    }

    .about-img-idv {
        margin: 0 auto;
        width: 100%;
    }

    .about-img-idv:hover {
        transform: scale(1.3);
    }
}

@media only screen and (max-width: 1000px) and (min-width: 426px) {
    .about-img-idv:hover {
        width: 100%;
        transform: scale(1.2);
    }
    .text {
        justify-self: center;
        display: inline-block;
        margin-top: 180px;
        width: 50%;
        min-width: 200px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 1001px) {
    .about-img-idv:hover {
        transform: scale(1.0);
        margin: 0;
    }
}